body{
    background: linear-gradient(90deg,#1E8449,#58D68D);
}

.con{
    background-color: #fff;
    width: 40%;
    margin: auto;
    height: 60%;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 50px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 1px;
    width: auto;
    position: relative;
    left: 20px;
 
  
}
.ar{
    width: 500px;
    margin: auto;
    position: relative;
    right: 50px;
    text-align: center;
}

input{
    padding: 10px;
    width: 300px;
}

.sel{
    background: linear-gradient(90deg,#58D68D,#1E8449);
    border: none;
    width: 330px;
    height: 50px;
    color: #fff;
    position: relative;
    right: 200px;
    top: 15px;
    margin-left: -12px;
    margin-bottom: 5px;
    padding: 5px;
}

a{
    text-decoration: none;
    color: #2ECC71;
    position: relative;
    bottom: 28px;
    left: 35px;
    text-align: center;
}

.ir{
    border: none;
    text-align: center;
}

p{
    font-size: 21px;
    position: relative;
    right: 25px;
    padding: 15px;

}

.ex{
    text-align: center;
    position: relative;
    top: 20px;
}

