body{
    background-color: #9BCD0A;
}

textarea{
    width: 1120px;
    height: 50px;
}

.rer{
    position: relative;
    left: 800px;
    border: 1px solid #000;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    text-align: center;
    width: 290px;
    padding: 5px;
    font-size: 14px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
fieldset{
    border: 1px solid #fff;
    border-radius: 5px;
    width: 100%;
    margin-right: 500px;
}

.car{
    display: flex;
    flex-direction:row;
}

/* label{
    position: relative;
    left: 20px;
} */

input{
    position: relative;
    left: 20px;
}

.lil{
    text-align: center;
    opacity: 0.4;
    background-color: #fff;
    color: #000;
    margin: auto;
    width: 500px;
}

.rir{
    width: 400px;
    position: relative;
    left: 52px;
}

.dir{
    width: 410px;
    position: relative;
    left: 72px;
}

.tir{
    width: 400px;
    position: relative;
    left: 60px;
}

.pir{
    width: 400px;
    position: relative;
    left: 20px;
}

/* .lor{
    position: relative;
    left: 5px;
} */

.por{
    position: relative;
    left: 50px;
}

.zer{
    position: relative;
    left: 65px;
}

.der{
    position: relative;
    left: 45px;
}

.red{
    position: relative;
    left: 20px;
}

.ber{
    position: relative;
    left: 55px;
}

.jus{
    position: relative;
    left: 55px;
}

.ner{
    position: relative;
    left: 70px;
}

.fus{
    position: relative;
    left: 70px;
}

.ver{
    position: relative;
    left: 110px;
}

.vus{
    position: relative;
    left: 110px;
}

.tel{
    width: 100%;
    padding: 5px;
}

img{
    width: 200px;
    height: 150px;
    position: relative;
    bottom: 500px;
    left: 900px;
}