body{
    background-color:#9BCD0A;
    font-weight: bold;
}
a{
    color: whitesmoke;
    background-color: #566D15;
    width: 1000px;
  
    border-radius: 50px;
    border: 1px solid black;
    padding: 15px;
    text-decoration: none;
    position: relative;
    left: 400px;
}
.for1{
    /* width: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px; */
}

.or{
    width: 500px;
}

h1{
   text-align: center;
   border: 1px solid #fff;
   border-radius: 5px;
   width: 800px;
   height: 65px;
   margin: auto;
   opacity: 0.4;
   background-color: #fff;
}

img{
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 425px;
    left: 255px;
}

form{
    display: flex;
    flex-direction: row;
}

.riv{
    width: 500px;
    height: 20px;
    position: relative;
    left: 20px;
}

.vir{
    width: 500px;
    height: 25px;
    position: relative;
    left: 85px;
}

.jir{
    width: 500px;
    height: 20px;
    position: relative;
    left: 115px;
}

.tir{
    width: 500px;
    height: 20px;
    position: relative;
    left: 25px;
}